@import "~bootstrap/scss/bootstrap";

.hide{
    display: none;
}

// .img-container{
//     max-width: 30px;
//     max-height: 50px;
// }

.containter-preview{
    height: 300px;
    width: 500px;
}
